:root {
  --bg-color: #f7f4f3;
  --main-color: #e9b796;
  --border-color: #883026;
  --my-white: white;
}

body {
  background-color: var(--my-white);
  padding: 0;
  margin: 0;
}

main {
  display: flex;
}

.menu {
  width: 80vw;
  background-color: red;
}

.entry-food {
  overflow: hidden;
  width: 80vw;
}

.product {
  margin-top: 15px;
  display: flex;
  background-color: var(--bg-color);
  padding: 10px;
  border: 2px var(--border-color) solid;
  border-radius: 13px;
  width: 76vw;
}

.show {
  height: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-click {
  cursor: pointer;
}

.product-inside {
  margin-top: 15px;
  display: flex;
  background-color: var(--bg-color);
  padding: 10px;
  border: 2px var(--border-color) solid;
  border-radius: 13px;
  width: 30%;
  margin-left: 0.5vw;
  align-items: center;
}



.product-inside:hover {
  background-color: blue;

}

.about {
  display: flex;
  align-items: start;
  flex-direction: row;
  
}

.product-description {
  margin: 0;
}

.about > p,
.about > h4 {
  display: inline;
  margin-left: 5px;
}

.add-to {
  align-self: self-end;
}

.add-to-cart {
 margin-left: 20%;
}

.product-img {
  width: 150px;
  height: 100px;
}

.info-container{
  padding-left: 3px;
}

.cart-container {
  background-color: red;
}

.product-on-cart {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.product-img-cart {
  width: 100px;
  height: 75px;
}

.about {
  display: flex;
  flex-direction: column;
}

.about * {
  margin: 0;
}

aside{
  width: 20vw;
}

