:root {
  --bg-color: #f7f4f3;
  --main-color: #e9b796;
  --border-color: #883026;
  --my-white: white;
}

body {
  background-color: var(--my-white);
  padding: 0;
  margin-left: 1vw;
  margin-top: 1vh;
}

main {
  display: flex;
}

.menu {
  width: 80vw;

}

.entry-food {
  overflow: hidden;
  width: 80vw;
}

.product {
  margin-top: 15px;
  display: flex;
  background-color: var(--bg-color);
  padding: 10px;
  border: 2px var(--border-color) solid;
  border-radius: 13px;
  width: 76vw;
}

.show {
  height: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-click {
  cursor: pointer;
}

.product-inside {
  margin-top: 15px;
  display: flex;
  background-color: var(--bg-color);
  padding: 10px;
  border: 2px var(--border-color) solid;
  border-radius: 13px;
  width: 30%;
  margin-left: 0.5vw;
  align-items: center;
}



.about {
  display: flex;
  align-items: start;
  flex-direction: row;
  
}

.product-description {
  margin: 0;
}

.about > p,
.about > h4 {
  display: inline;
  margin-left: 5px;
}

.add-to {
  align-self: self-end;
}

.add-to-cart {
  cursor: pointer;
}

.product-img-car {
  width: 150px;
  height: 100px;
}

.product-img{
  width: 70%;
  height: 35%;
}

.info-container{
  padding-left: 3px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-on-cart {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.product-img-cart {
  width: 100px;
  height: 75px;
}

.about {
  display: flex;
  flex-direction: column;
}

.products-to-buy{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cart-product{
  width: 80%;
  margin-top: 1rem;
  display: flex;
}

.delete-product{
  border: 1px var(--border-color) solid;
  background-color: var(--border-color);
  color: var(--bg-color);
  cursor: pointer;
  align-self: flex-end;
}

.about * {
  margin: 0;
}

aside{
  width: 20vw;
  border-left: var(--border-color) 2px solid;
}


@media screen and (max-width: 1023px) {
  main{
    display: flex;
    flex-direction: column;
  }

  .products-to-buy{
    display: flex;
    flex-direction: row;
  }

  .show{
    width: 90%;
  }

  .product{
    width: 96vw;
  }

  .product-inside{
    width: 30%;
  }



}
